<div class="h-screen w-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 flex items-center justify-center">
    <div class="absolute backdrop-blur-md left-0 right-0 bottom-0 top-0 z-10"></div>
    <div class="h-80 w-[30%] shadow-md bg-white absolute flex flex-col justify-center z-50 p-2">
      <form class="flex flex-col items-center justify-center w-full mx-auto gap-4">
        <div class="flex flex-col gap-3 w-[70%] mx-auto">
          <div class="text-sm text-gray-500 flex items-center gap-2">
            <span class="w-8 h-8 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 inline-block rounded flex items-center justify-center text-black font-bold">
              G.
            </span>
            <span>GeeksBox, Inc.</span>
          </div>
          <span class="text-2xl font-bold">Sign in / Sign up</span>
        </div>
        <div class="w-[70%]">
          <input
                 type="text"
                 autocomplete="false"
                 class="transition-all duration-200 w-full border-0 border-b-2 outline-none focus:border-indigo-600 h-10 px-1"
                 placeholder="Email, phone number or username" />
        </div>
        <div class="w-[70%]">
          <input
                 type="password"
                 class="transition-all duration-200 w-full border-0 border-b-2 outline-none focus:border-indigo-600 h-10 px-1"
                 placeholder="Password" />
        </div>

        <div class="absolute bottom-4 right-4 flex justify-end">
          <button class="transition-all px-6 py-2 bg-indigo-500 hover:bg-indigo-600 text-white font-semibold">Next</button>
        </div>
      </form>
    </div>
  </div>