<div class="flex flex-col overflow-x-hidden h-screen w-screen bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
    <app-nav-bar></app-nav-bar>
    <div class="relative flex w-screen h-full  text-gray-700">
      <app-side-bar (eventEmitter)="toggleSideBar($event)" ></app-side-bar>
      <div class="absolute top-0 bottom-0 right-0" [ngClass]="secondSideBard ? ' left-48 ': ' left-16 '">
        <router-outlet></router-outlet>
        <!-- <app-board></app-board> -->
      </div>
    </div>
  </div>